version 5.257.0
storage none
source https://api.nuget.org/v3/index.json
framework: net5.0, netstandard2.0, netstandard2.1

nuget canopy
nuget Equinox.CosmosStore
nuget Expecto
nuget Fable.Core
nuget Fable.Browser.Dom
nuget Fable.Elmish
nuget Fable.SignalR
nuget Fable.SignalR.AspNetCore
nuget Fable.SignalR.Elmish
nuget Feliz
nuget Feliz.UseElmish
nuget FsCodec 2.0.0
nuget Microsoft.AspNetCore
nuget Microsoft.AspNetCore.StaticFiles
nuget Microsoft.AspNetCore.SignalR.Core
nuget Microsoft.Azure.Cosmos 3.20.1-preview
nuget Propulsion.CosmosStore 2.11.0-rc2
nuget Serilog
nuget Serilog.AspNetCore
nuget Serilog.Sinks.Console
nuget Serilog.Sinks.Seq
nuget Selenium.WebDriver.ChromeDriver 91.0.4472.10100

group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget BlackFox.Fake.BuildTask
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.JavaScript.Npm
    nuget Fake.Core.Target