version 5.257.0
storage none
source https://api.nuget.org/v3/index.json
framework: net5.0

nuget Equinox
nuget Equinox.CosmosStore
nuget FsCodec 2.0.0
nuget Microsoft.AspNetCore
nuget Propulsion 2.11.0-rc2
nuget Propulsion.CosmosStore 2.11.0-rc2
nuget Serilog
nuget Serilog.AspNetCore
nuget Serilog.Sinks.Console
nuget Serilog.Sinks.Seq

group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget BlackFox.Fake.BuildTask
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.JavaScript.Npm
    nuget Fake.Core.Target